
@font-face {
  font-family: Livvic-Regular;
  src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

@font-face {
  font-family: Livvic-Bold;
  src: url(../fonts/Livvic/Livvic-Bold.ttf);
}

@font-face {
  font-family: Livvic-Medium;
  src: url(../fonts/Livvic/Livvic-Medium.ttf);
}
@font-face {
  font-family: Livvic-Italic;
  src: url(../fonts/Livvic/Livvic-Italic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
