$bg-clr: rgba(250, 251, 252, 255);

$font-clr1: #ffffff;
$font-clr2: #4d4d4d;
$font-clr3: #505f79;
$font-clr4: #5e6c84; 
$font-clr5: #b3bac5;

// LAYOUT BREAKPOINTS
$break-mobile: 770px;
$break-narrow: 770px;
$break-normal: 990px;
$break-wide: 1200px;