.comment-filter {
   background-color: #fff;
   border-radius: unset;
   // margin: 0px 30px 0px 30px;
   padding: 20px 20px 20px 20px;
   text-align: left;

   input {
      font-family: sans-serif;
      border: 1px solid rgb(198, 197, 198);
      color: rgb(106, 105, 106);
      width: 100%;
      line-height: 30px;
      padding-left: 10px;
   }

}