.dashboard-side-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   height: 100%;
   // color: $brand-clr4;
   text-transform: capitalize;

   .text-container {
      .title {
         margin-bottom: 1.1rem;
         font-size: 1.5rem;
         font-weight: 500;
      }

      .info {
         font-weight: 600;
         font-size: 3rem;
      }
   }

   .chart-container {
      margin: 1rem;
      width: 100px;
      height: 100px;
   }
}